/* Desktop Style Sheet */


/* page-wrapper */

div.page-wrapper {
    margin: 3em 0 !important;
    max-width: 100%;
    width: 100%;
    font-family: Comic Sans MS, Comic Sans, cursive;
}


/* Navbar */

a.nav-link {
    display: block;
    white-space: nowrap !important;
    text-align: center;
    margin: auto;
    position: relative;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

ul {
    margin: 0;
    padding: 0;
}

nav {
    max-width: 95% !important;
    margin: auto;
    border-radius: 25px;
    /* #642f65 lighter purple for day mode */
}

div.nav-container {
    border-radius: 25px;
    padding: .5%;
}

h4.business-title {
    height: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 1rem;
    width: auto;
    font-size: 1.2em;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

#navbarResponsive {
    margin-top: .4rem;
    width: auto;
}

button.navbar-toggler {
    margin: auto;
    flex: auto;
    border-radius: 25px;
    padding: .3em !important;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

/* Night and Day button */

button.layout-toggle-day-small,
button.layout-toggle-night-small,
button.layout-toggle-day-large,
button.layout-toggle-night-large {
    background-color: unset;
    margin: .2rem .2rem .4rem .4rem;
    border-radius: 25px;
}


/* general image styling */

img {
    border-radius: 25px;
    max-width: 100%;
}


/* Left and right panel images */

img.left-panel {
    width: 100%;
    max-height: 750px;
    height: 100%;
}

img.right-panel {
    width: 100%;
    max-height: 750px;
    height: 100%;
}


/* div containers for cols */

div.row {
    margin: auto;
}

/* page writing contents */
p {
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 1.3em;
    font-weight: 600;
}

/* image-carousel */

#image-carousel {
    border-radius: 25px;
}

img.d-block {
    height: 380px;
}


/* services page */

table.service-table {
    border-collapse: separate;
    border-spacing: 0;
    margin: auto;
    width: 90%;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

div.services {
    padding: .4rem;
    border-radius: 25px;
    margin-top: .2em;
    width: 100%;
}

.operating-hours {
    font-size: .9em;
}

td.service-data {
    border-style: none solid solid none;
    padding: 10px;
}

tr.service-row:first-child td.service-data:first-child {
    border-top-left-radius: 10px;
}

tr.service-row:first-child td.service-data:last-child {
    border-top-right-radius: 10px;
}

tr.service-row:last-child td.service-data:first-child {
    border-bottom-left-radius: 10px;
}

tr.service-row:last-child td.service-data:last-child {
    border-bottom-right-radius: 10px;
}

tr.service-row:first-child td.service-data {
    border-top-style: solid;
}

tr.service-row td.service-data:first-child {
    border-left-style: solid;
}

img.services-3-img {
    margin: .4em;
    padding: .5em;
    max-height: 360px;
    max-width: 290px;
}

div.service-3-img {
    text-align: center;
}


/* about us page styling */

div.about-us-left-panel {
    padding: .4rem;
    border-radius: 25px;
    margin-top: .2em;
    text-align: center;
}

div.about-us-right-panel {
    padding: .4rem;
    border-radius: 25px;
    margin: auto;
    text-align: center;
    overflow: auto;
    max-width: 100%;
    width: 100%;
}

div.about-us-table-row {
    display: flex;
    justify-content: center;
}

.second-text-about {
    margin-top: 1.5em;
}

/* contact table */

table.contact-table {
    border-collapse: separate;
    border-spacing: 0;
    margin: auto;
    width: 90%;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

td.contact-table-data {
    border-style: none none solid none;
    padding: 10px;
}

tr.contact-row:first-child td.contact-table-data {
    border-top-style: solid;
}

tr.contact-row:first-child td.contact-table-data:first-child {
    border-top-left-radius: 10px;
}

tr.contact-row:first-child td.contact-table-data:last-child {
    border-top-right-radius: 10px;
}

tr.contact-row:last-child td.contact-table-data:first-child {
    border-bottom-left-radius: 10px;
}

tr.contact-row:last-child td.contact-table-data:last-child {
    border-bottom-right-radius: 10px;
}

div.contact-div {
    border-radius: 25px;
    padding: .7em 0;
}

a.contact-num {
    text-decoration: none;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

a.contact-email {
    text-decoration: none;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

div.container-contact-us {
    margin: 0;
}


/* email form */

form.email-form {
    padding: .4rem;
    border-radius: 25px;
    margin-top: .2em;
}

label.email-form-label {
    margin-top: 2em;
    margin-bottom: 0;
}

#email-text,
#email-email,
#submit-form,
#reset-form {
    margin: .2rem;
    max-width: 100%;
    width: 98%;
    text-align: center;
}

div.div-form-btn {
    width: 100%;
    display: flex;
}

#email-text,
#email-email {
    font-family: Comic Sans MS, Comic Sans, cursive;
    resize: none;
}

#submit-form,
#reset-form {
    max-width: 48%;
    flex-wrap: nowrap;
}

input.form-btn {
    font-family: Comic Sans MS, Comic Sans, cursive;
}


/* footers */

footer {
    font-size: smaller;
    margin: .4em .6em;
}

a {cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat970.ani), url(http://cur.cursors-4u.net/nature/nat-10/nat970.gif), auto !important;}