/* Desktop Style Sheet */

html {
    background-color: black;
}

body {
    background-color: lightgrey;
}

/* Navbar */

button{
    padding: 0px !important;
}

a.nav-link{
    display: block;
    margin: .2rem;
    color: white !important;
    word-wrap: none !important;
}

nav {
    max-width: 95% !important;
    margin: .5% auto;
    border-radius: 25px;
    background-color: #933994;
    /* #642f65 lighter purple for day mode */
}
div.nav-container {
    border: blanchedalmond solid 2px;
    border-radius: 25px;
    padding: .5%;
    display: inline-block;
}

div.inner-navbar-container {
    margin-left: 0%;
    margin-right: 0%;
    max-width: 100% !important;
}

h4.business-title {
    height: 100%;
    vertical-align: middle;
    color: white;
    margin: 1rem;
}