/* Medium Screen size css */

/* nav */
div.nav-container {
    flex: wrap;
}

/* Home */
div.medium-panel-container {
    margin: 5em 0;
    max-width: 100%;
    width: 100%;
}

div.left-panel-home {
    width: 0 !important;
    height: 0 !important;
    max-width: 0 !important;
    flex-grow: 0;
}

div.left-col {
    width: 0 !important;
    height: 0 !important;
    max-width: 0 !important;
    flex-grow: 0;
}
div.right-panel-home {
    width: 0 !important;
    height: 0 !important;
    max-width: 0 !important;
    flex-grow: 0;
}

div.right-col {
    width: 0 !important;
    height: 0 !important;
    max-width: 0 !important;
    flex-grow: 0;
}

#image-carousel {
    width: 100%;
    margin: auto;
}

/* services */
div.left-panel-services {
    width: 0 !important;
    height: 0 !important;
    max-width: 0 !important;
    flex-grow: 0;
}

div.left-panel {
    width: 0 !important;
    height: 0 !important;
    max-width: 0 !important;
    flex-grow: 0;
}
div.right-panel-services {
    width: 0 !important;
    height: 0 !important;
    max-width: 0 !important;
    flex-grow: 0;
}

div.right-panel {
    width: 0 !important;
    height: 0 !important;
    max-width: 0 !important;
    flex-grow: 0;
}

/* About us */


div.about-us-right-panel {
    width: 0 !important;
    height: 0 !important;
    max-width: 0 !important;
    flex-grow: 0;
    border: none;
    color: none;
    padding: 0;
}
div.medium-panel-container {
    border: solid #6600FF .2em;
}
div.medium-panel-container {
    padding: .4rem;
    border-radius: 25px;
    margin: auto;
    margin-top: 1.5rem;
    text-align: center;
    overflow: auto;
    max-width: 100%;
    width: 100%;
}

div.about-us-table-row {
    display: flex;
    justify-content: center;
}

/* Contact Us */
div.left-panel-contact-us {
    width: 0 !important;
    height: 0 !important;
    max-width: 0 !important;
    flex-grow: 0;
}

div.left-panel-img {
    width: 0 !important;
    height: 0 !important;
    max-width: 0 !important;
    flex-grow: 0;
}
div.right-panel-contact-us {
    width: 0 !important;
    height: 0 !important;
    max-width: 0 !important;
    flex-grow: 0;
}

div.right-panel-img {
    width: 0 !important;
    height: 0 !important;
    max-width: 0 !important;
    flex-grow: 0;
}

div.about-us-table-row {
    display: flex;
    justify-content: center;
}