/* Desktop Style Sheet */

html {
    background-color: #6600FF;
}

body {
    background-color: #FF99FF;
}

a.nav-link {
    color: white !important;
    background-color: #6600FF;
    transition: 0.3s;
    border: blanchedalmond .03em solid;
}

nav {
    background-color: #CC00FF;
}

.navbar-toggler {
    color: white !important;
    border: white solid .03em !important;
}

.navbar-toggler-icon {
    color: white !important;
}

div.nav-container {
    border: blanchedalmond solid 2px;
}

h4.business-title {
    color: white;
}

a.nav-link.active {
    background-color: #66CCFF;
}

a.nav-link:hover {
    opacity: 0.6;
}

button.layout-toggle-night-small,
button.layout-toggle-night-large {
    border-color: black;
}


/* image-carousel */

#image-carousel {
    border: solid 3px #6600FF;
}


/* services page */

table.service-table {
    color: white;
}

div.services {
    border: solid #6600FF .2em;
    background-color: #CC00FF;
}

td.service-data {
    border: #CC00FF;
    background-color: #6600FF;
}


/* contact table */

table.contact-table {
    color: white;
}

td.contact-table-data {
    border: #CC00FF;
    background-color: #6600FF;
}

div.contact-div {
    border: #6600FF solid .2em;
    background-color: #CC00FF;
}

a.contact-num {
    color: white;
}

a.contact-num:hover {
    color: #66CCFF;
}

a.contact-email {
    color: white;
}

a.contact-email:hover {
    color: #66CCFF;
}


/* email form */

form.email-form {
    border: solid #6600FF .2em;
    background-color: #CC00FF;
}

#email-text,
#email-email {
    color: white;
    background-color: #6600FF;
}

#email-text::placeholder,
#email-email::placeholder {
    color: white;
    opacity: 1;
}

input.form-btn {
    color: #CC00FF;
    background-color: #99CCFF;
    border: blanchedalmond solid .15em;
}

input.form-btn:hover {
    background-color: #6600FF;
    color: #66CCFF;
}


/* about us page styling */

div.about-us-left-panel {
    border: solid #6600FF .2em;
    background-color: #CC00FF;
}

div.about-us-right-panel {
    border: solid #6600FF .2em;
    background-color: #CC00FF;
}

div.about-us-container {
    border: solid #6600FF .2em;
    background-color: #CC00FF;
}


/* footers */

footer {
    color: blanchedalmond;
    background-color: #6600FF;
}