/* Small screens */

/* Home */

div.carousel-img-1 {
    height: 250px;
}

div.carousel-img-2 {
    height: 250px;
}

div.carousel-img-3 {
    height: 250px;
}

div.carousel-img-4 {
    height: 250px;
}

div.medium-left-panel-home {
    height: 250px;
    width: 45%;
    margin: auto;
}

div.medium-right-panel-home {
    height: 250px;
    width: 45%;
    margin: auto;
}

/* Service page images */

div.medium-left-panel-services {
    background-image: unset;
    height: 0px;
}

div.medium-right-panel-services {
    background-image: unset;
    height: 0px;
}

div.services-3-img-1 {
    background-image: unset;
    height: 0px;
}

div.services-3-img-2 {
    background-image: unset;
    height: 0px;
}

div.services-3-img-3 {
    background-image: unset;
    height: 0px;
}

td.service-data {
    font-size: .85rem;
}

div.service-col {
    padding: 0;
}

/* About Us images */
div.about-us-left-panel {
    border: none;
    background-color: none;
}

div.about-us-left-panel-img1 {
    height: 0px;
    width: auto;
    border: none;
    background-color: none;
}

div.about-us-left-panel-img2 {
    height: 0px;
    width: auto;
    border: none;
    background-color: none;
}

div.about-us-left-panel-img3 {
    height: 0px;
    width: auto;
    border: none;
    background-color: none;
}
div.about-us-small-panel-img1 {
    height: 200px;
    width: auto;
}

div.about-us-small-panel-img2 {
    height: 200px;
    width: auto;
}

div.about-us-small-panel-img3 {
    height: 200px;
    width: auto;
}
div.about-us-small-panel {
    border: solid #6600FF .2em;
    padding: .4rem;
    border-radius: 25px;
    margin-top: .2em;
    text-align: center;
}

div.medium-about-us-right-panel-img1 {
    height: 0px;
}

div.medium-about-us-right-panel-img2 {
    height: 0px;
}

div.medium-about-us-right-panel-img3 {
    height: 0px;
}

div.about-us-left-panel {
    padding: 0px;
}

/* Contact Page images */

div.medium-left-panel-contact-us {
    height: 250px;
    width: 45%;
    margin: auto;
}

div.medium-right-panel-contact-us {
    height: 0px;
}

div.medium-panel-container {
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
}

div.contact-left-col {
    padding: 0px;
}

body {
    cursor: default;
}

a {
    cursor: default;
}

button {
    cursor: default !important;
}

p {
    cursor: default;
}

.hide-me {
    display: none;
}